// Fonts
$default-font-size: 1vw;
$container-width: 90;

// Colors
$color-default: #b0b0b0;
$color-primary: #003c58;
$color-primary-light: #005a86;
$color-secondary: #007843;
$color-secondary-light: #00b751;
$color-light: #FFFFFF;
$color-dark: #000000;
$color-dark-gray: #2c2d2d;
$color-gray: #e2e2e2;
$color-light-gray: #f1f1f1;


// Media Querys
$phone-max-width: 767px;
$tablet-max-width: 991px;
$desktop-min-width: 992px;
$desktop-max-width: 1199px;