/*------------------------------------------------------------------
[Banner]
------------------------------------------------------------------*/

.banner {
	float: left;
	width: 100%;
	margin-bottom: 1.5vw;
}

/*===== extra small devices(e.g. smartphones) =====*/
@media screen and (max-width: $phone-max-width) {
	
}

/*------------------------------------------------------------------
[END Banner]
------------------------------------------------------------------*/