/*------------------------------------------------------------------
[Top Benchmark Results Articles - Block]
------------------------------------------------------------------*/

.benchmark-results-articles .articles-links {
	float: left;
	width: 100%;
	padding-top: 1vw;
}
.benchmark-results-articles .articles-links .menu-links > li {
	padding: 0 0.75vw 2.5vw 0.75vw;
}
.benchmark-results-articles .articles-links .menu-links > li > a {
/*	height: 100%;*/
	padding-bottom: 0;
}

.benchmark-results-articles .articles-links .menu-links > li a span.title {
	font-size: 1.7vw;
}

.benchmark-results-articles .articles-links .menu-links > li a span.desc-box {
	text-transform: none;
	text-align: left;
	font-size: 1vw;
	height: auto;
	overflow: hidden;
	@include mix-transition(250ms, 0ms);
}
.benchmark-results-articles .articles-links .menu-links > li a span.desc-box ul {
	float: left;
	width: 100%;
	padding-left: 1vw;
}
.benchmark-results-articles .articles-links .menu-links > li a span.desc-box ul li {
	float: left;
	width: 100%;
	list-style: disc outside;
	line-height: 1.5;
	margin: 0 0 0.5vw 0;
}

.benchmark-results-articles .articles-links .menu-links > li .expand-content-box {
	position: relative;
	display: block;
	margin: 0 -1.5vw;
	padding: 1.5vw 0;
	z-index: 2;
}
.benchmark-results-articles .articles-links .menu-links > li .btn-read-more-icon {
	border: 0;
	outline: none;
}
.benchmark-results-articles .articles-links .menu-links > li .btn-read-more-icon i {
	left: 0;
}
.benchmark-results-articles .articles-links .menu-links > li .btn-read-more-icon i.collapsed {
	display: none;
}

.benchmark-results-articles .articles-links .menu-links > li.collapsed a span.desc-box {
	height: 10vw;
}
.benchmark-results-articles .articles-links .menu-links > li.collapsed .expand-content-box {
	@include mix-vendor-prefix(box-shadow, 0px -30px 40px 0 rgba(255, 255, 255, 0.6));
}
.benchmark-results-articles .articles-links .menu-links > li.collapsed .btn-read-more-icon i.collapsed {
	display: block;
}
.benchmark-results-articles .articles-links .menu-links > li.collapsed .btn-read-more-icon i.expanded {
	display: none;
}

/*===== extra small devices(e.g. smartphones) =====*/
@media screen and (max-width: $phone-max-width) {
	
}

/*------------------------------------------------------------------
[END Benchmark Results Articles - Block]
------------------------------------------------------------------*/