/*------------------------------------------------------------------
[Membership Menu - Block]
------------------------------------------------------------------*/

.block-views-blockmembership-menu-membership-menu-block .block-content .views-row {
	margin-top: 1.5vw;
}
.block-views-blockmembership-menu-membership-menu-block .block-content .views-row.first {
	margin-top: 0;
}
.block-views-blockmembership-menu-membership-menu-block .block-content .article-link {
	display: block;
	margin: 1.5vw 0 0 0;
}
.block-views-blockmembership-menu-membership-menu-block .block-content .article-link:first-child {
	margin: 0;
}
.block-views-blockmembership-menu-membership-menu-block .block-content .views-field-body {
	position: relative;
}
.block-views-blockmembership-menu-membership-menu-block .block-content .views-field-body:after {
	font-family: 'FontAwesome';
	content: "\f101";
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1vw;
	font-weight: 500;
	color: $color-primary;
	line-height: 1.0;
}

.block-views-blockmembership-menu-membership-menu-block .block-content .article-link:hover .views-field-title,
.block-views-blockmembership-menu-membership-menu-block .block-content .article-link:hover .views-field-body p,
.block-views-blockmembership-menu-membership-menu-block .block-content .article-link:hover .views-field-body:after {
	color: $color-secondary;
}

/*===== extra small devices(e.g. smartphones) =====*/
@media screen and (max-width: $phone-max-width) {
	
}

/*------------------------------------------------------------------
[END Membership Menu - Block]
------------------------------------------------------------------*/