/*------------------------------------------------------------------
[Specifications Menu - Block]
------------------------------------------------------------------*/

#block-specificationsmenu > ul li a {
	position: relative;
	padding-right: 1vw;
}
#block-specificationsmenu > ul li:last-child a {
	margin: 0;
}
#block-specificationsmenu > ul li a:after {
	font-family: 'FontAwesome';
	content: "\f101";
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1vw;
	font-weight: 500;
	color: $color-primary;
	line-height: 1.0;
}
#block-specificationsmenu > ul li a:hover:after {
	color: $color-secondary;
}

/*===== extra small devices(e.g. smartphones) =====*/
@media screen and (max-width: $phone-max-width) {
	
}

/*------------------------------------------------------------------
[END Specifications Menu - Block]
------------------------------------------------------------------*/